.title {
    text-align: center;
}
.projectedExpense{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;    
}
.projectedBudget{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    font-weight: 900;
}
.total{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.showButtonAmount{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.checkImage{
    width: 100%;
    height: auto;
}
.checkButton{
    width: 10vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.crossImage{
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.showButtonAmountContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.done{
    display: flex;
    justify-content: center;
    width: 5vw;
    height: auto;
    object-fit: contain;
    border: none;
    border-radius: 100%;
}
.done img:hover{
    transform: scale(1.1);
}
.showButtonExpense{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deleteButton{
    width: 5vw;
    height: 4vh;
}
.expenseDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    p{
        width: 100%;
    }
}
.expense{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}